.headerContainer {
  padding: 28px 56px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

// .headerWrapper {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

.contactIcon {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
